<a {{ $props.except(['text', 'icon']).toAttrs() }} @click="open = false">
  @if(icon)~
  @!svg(icon)
  @end~
  {{ text }}

  @if(newly)~
    @!jrmc.badge({ text: 'new', class: 'badge-primary' })
  @end~
</a>
