@import './unpoly.css' layer(base);
@import './docsearch.css' layer(base);

@import 'tailwindcss';


@source "../../node_modules/@jrmc/edge-components/views";
@source "../views/**/*.edge";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}
@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
} */

/* override for include in tab component */
/* solution inspired by daisyui.com */

.chat-start {
  grid-template-columns: auto 1fr;
}

/* override for tabs lifted in tabs lifted */
.tabs-lifted:has(.tab-content[class*=' rounded-'])
  .tab-content
  .tabs-lifted
  .tab:first-child:not(.tab-active) {
  border-bottom-color: var(--tab-border-color);
}

/* override for tabs bordered in tabs lifted */
.tabs-lifted:has(.tab-content[class*=' rounded-'])
  .tab-content
  .tabs-bordered
  .tab:first-child:not(.tab-active) {
  border-bottom-color: var(--fallback-bc, oklch(var(--bc) / var(--tw-border-opacity)));
}

/* override */
.tab:not(input:checked) {
  color: gray;
}
